body {
    background-color:lightcoral;
}

h1 {
    color: blue;
    text-align: center;
}
img {
    height: 300px;
    padding: 10px;
}
button {
    margin: 10px;
    padding: 10px 30px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgb(96, 78, 173);
}

.restartBtn {
    display:none;
}

/* margin: 10px;
    padding: 10px 30px;
    font-size: 24px;
    cursor: pointer;
	border-radius: 7px;
	border-bottom-left-radius: 0;
	background-color: rgb(96, 78, 173); */